---
// src/pages/index.astro
import ThreeColumnLayout from "@layouts/ThreeColumnLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION, CREATE_TIME } from "../consts";
import LeftSidebar from "@components/widgets/LeftSidebar.astro";
import RecentPosts from "@components/widgets/RecentPosts.astro";
import RightSidebar from "@components/widgets/RightSidebar.astro";
import { getPostsData } from "@src/hooks/usePostsData";

const { recentPosts, totalTagsCounts, totalPostsCounts, totalPostsWords } =
  await getPostsData();

const siteData = {
  createTime: CREATE_TIME,
  articleCount: totalPostsCounts,
  tagCount: totalTagsCounts,
  wordCount: totalPostsWords,
};
---

<ThreeColumnLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <LeftSidebar slot="left-sidebar" />

  <main class="container mx-auto px-4 py-12">
    <section
      class="flex flex-col items-center justify-center text-center mb-16"
    >
      <h1
        class="text-4xl md:text-5xl font-bold mb-4 text-gray-900 dark:text-gray-100"
      >
        你好，我是 <span class="text-blue-600 dark:text-blue-400"
          >AbelTomato</span
        >
      </h1>
      <p class="text-lg text-muted-foreground max-w-lg mb-8">
        {SITE_DESCRIPTION}
      </p>
    </section>

    <RecentPosts posts={recentPosts} />
  </main>

  <RightSidebar slot="right-sidebar" siteData={siteData} />
</ThreeColumnLayout>
